<%- include('partials/head') %> <%- include('partials/nav') %>
<main>
	<div class="preloader bg-dark flex-column justify-content-center align-items-center show">
		<svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 64 78.4">
			<path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z" style="stroke-dasharray: 41, 43; stroke-dashoffset: 0"></path>
			<path fill="none" stroke="#fff" stroke-width="11.2" width="0" height="25.6" d="M40 17.6 L40 17.6 L40 43.2 L40 43.2 Z" style="stroke-dasharray: 52, 54; stroke-dashoffset: 0"></path>
			<path fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" width="0" height="25.6" d="M23 35.2 L23 35.2 L23 60.800000000000004 L23 60.800000000000004 Z" style="stroke-dasharray: 52, 54; stroke-dashoffset: 0"></path>
			<path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z" style="stroke-dasharray: 71, 73; stroke-dashoffset: 0"></path>
			<path fill="none" stroke="#fff" stroke-width="11.2" width="0" height="25.6" d="M6 52.8 L6 52.8 L6 78.4 L6 78.4 Z" style="stroke-dasharray: 52, 54; stroke-dashoffset: 0"></path>
			<path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z" style="stroke-dasharray: 42, 44; stroke-dashoffset: 0"></path>
			<path fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" width="0" height="11.2" d="M57.8 17.6 L57.8 17.6 L57.8 28.8 L57.8 28.8 Z" style="stroke-dasharray: 23, 25; stroke-dashoffset: 0"></path>
			<path fill="none" stroke="#fff" stroke-width="11.2" width="0" height="11.2" d="M6 35.2 L6 35.2 L6 46.400000000000006 L6 46.400000000000006 Z" style="stroke-dasharray: 23, 25; stroke-dashoffset: 0"></path>
			<path fill="none" stroke="#fff" stroke-width="11.2" width="0" height="11.2" d="M40.2 49.6 L40.2 49.6 L40.2 60.8 L40.2 60.8 Z" style="stroke-dasharray: 23, 25; stroke-dashoffset: 0"></path>
			<path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z" style="stroke-dasharray: 41, 43; stroke-dashoffset: 0"></path>
			<path fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="28.8" width="0" height="11.2" d="M31.6 0 L31.6 0 L31.6 11.2 L31.6 11.2 Z" style="stroke-dasharray: 23, 25; stroke-dashoffset: 0"></path>
			<path fill="none" stroke="#fff" stroke-width="28.8" width="0" height="11.2" d="M14 17.6 L14 17.6 L14 28.8 L14 28.8 Z" style="stroke-dasharray: 23, 25; stroke-dashoffset: 0"></path>
		</svg>
	</div>

	<!-- <section class="text-primary">
                <div class="row mt-0 mb-0">
                    <div class="mx-auto">
                        <div id="Carousel3" class="carousel slide" data-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#Carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#Carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button> <button type="button" data-bs-target="#Carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active"><img class="d-block w-100" src="assets/img/carousel-3.jpg" alt="First slide" /></div>
                                <div class="carousel-item"><img class="d-block w-100" src="assets/img/carousel-2.jpg" alt="Second slide" /></div>
                                <div class="carousel-item"><img class="d-block w-100" src="assets/img/carousel-3.jpg" alt="Third slide" /></div>
                            </div>
                            <a class="carousel-control-prev" href="#Carousel3" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                            <a class="carousel-control-next" href="#Carousel3" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span></a>
                        </div>
                    </div>
                </div>
                
            </section> -->
	<section class="section section-md mt-6">
		<div class="container">
			<div class="row align-items-center justify-content-around">
				<div class="col-md-6 col-xl-6 mb-5"><img class="organic-radius img-fluid" src="assets/img/logo.jpg" alt="Office Desk" /></div>
				<div class="col-md-6 col-xl-5 text-center text-md-left">
					<h2 class="h1 mb-5">Al-ILM ISLAMIC FOUNDATION.</h2>
					<p class="lead">Al-ilm Islamic Foundation project is a visionary initiative aimed at establishing a non-profit organization dedicated to empowering youth through vocational skills training, education, and community engagement.</p>
					<p class="lead">The project envisions creating a holistic platform where young individuals can develop valuable skills, gain knowledge, and foster a sense of community belonging.</p>
					<img src="assets/img/prc.png" alt="signature" class="mt-4" width="500" />
				</div>
			</div>
		</div>
	</section>
	<section class="section section-lg pt-0">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-4 text-center">
					<div class="icon-box mb-4">
						<div class="icon icon-primary mb-4"><span class="fas fa-user"></span></div>
						<h3 class="h5">Volunteers</h3>
						<span class="counter display-3 text-gray d-block">122</span>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 text-center">
					<div class="icon-box mb-4">
						<div class="icon icon-primary mb-4"><span class="fas fa-money-check"></span></div>
						<h3 class="h5">Money Raised</h3>
						<div class="mx-7 d-flex align-items-center text-center">
							<span class="counter display-3 text-gray d-block">400</span>
							<span class="display-3 text-gray"> K</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 text-center">
					<div class="icon-box mb-4">
						<div class="icon icon-primary mb-4"><span class="fas fa-globe-europe"></span></div>
						<h3 class="h5">Projects</h3>
						<span class="counter display-3 text-gray d-block">80</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section-lg bg-gray-200">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<h2 class="h1 fw-light"><span class="fw-bold">The</span> Concept</h2>
				</div>
			</div>
			<div class="row justify-content-center mt-6">
				<div class="row justify-content-center">
					<div class="col-md-12 col-lg-8">
						<div class="timeline timeline-one dark px-3 px-sm-0">
							<div class="timeline-item">
								<h3 class="h4 mb-4">Overview</h3>
								<p>
									The Al-ilm Islamic Foundation is a visionary initiative aimed at establishing a non-profit organization dedicated to empowering youth through vocational skills training, education, and community engagement. The project envisions
									creating a holistic platform where young individuals can develop valuable skills, gain knowledge, and foster a sense of community belonging. This concept note outlines the key objectives, target beneficiaries, and approach for the
									proposed Al-Ilm Islamic Foundation.
								</p>
							</div>
							<div class="timeline-item">
								<h3 class="h4 mb-2">Objectives</h3>
								<!-- <div class="my-3">
                                            <span class="icon icon-sm icon-purple me-2"><span class="fab fa-bootstrap"></span></span> <span class="icon icon-sm icon-info me-2"><span class="fab fa-react"></span></span>
                                            <span class="icon icon-sm icon-success me-2"><span class="fab fa-vuejs"></span></span> <span class="icon icon-sm icon-danger"><span class="fab fa-angular"></span></span>
                                        </div> -->
								<ul class="list-unstyled mb-5">
									<li class="py-3 lead">
										<div class="d-flex">
											<span class="icon icon-sm me-3"><span class="fas fa-check-circle"></span></span>
											<div>Vocational Skills Development</div>
										</div>
									</li>
									<li class="py-3 lead">
										<div class="d-flex">
											<span class="icon icon-sm me-3"><span class="fas fa-check-circle"></span></span>
											<div>Education and Literacy</div>
										</div>
									</li>
									<li class="py-3 lead">
										<div class="d-flex">
											<span class="icon icon-sm me-3"><span class="fas fa-check-circle"></span></span>
											<div>Cultural and Religious Education</div>
										</div>
									</li>
									<li class="py-3 lead">
										<div class="d-flex">
											<span class="icon icon-sm me-3"><span class="fas fa-check-circle"></span></span>
											<div>Community Engagement</div>
										</div>
									</li>
									<li class="py-3 lead">
										<div class="d-flex">
											<span class="icon icon-sm me-3"><span class="fas fa-check-circle"></span></span>
											<div>Support Services</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="timeline-item">
								<h3 class="h4 mb-4">Target Projects</h3>
								<!-- <img class="mt-2" src="/assets/img/office.png" alt="Themesberg workspace" width="300" /> -->
								<ul class="list-unstyled mb-5">
									<li class="py-3 lead">
										<div class="d-flex">
											<span class="icon icon-sm me-3"><span class="fas fa-star"></span></span>
											<div>Skills Training Workshops</div>
										</div>
									</li>
									<li class="py-3 lead">
										<div class="d-flex">
											<span class="icon icon-sm me-3"><span class="fas fa-star"></span></span>
											<div>Educational Programs</div>
										</div>
									</li>
									<li class="py-3 lead">
										<div class="d-flex">
											<span class="icon icon-sm me-3"><span class="fas fa-star"></span></span>
											<div>Religious Activities</div>
										</div>
									</li>
									<li class="py-3 lead">
										<div class="d-flex">
											<span class="icon icon-sm me-3"><span class="fas fa-star"></span></span>
											<div>Community Outreach</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="timeline-item">
								<h3 class="h4 mb-4">Vision</h3>
								<p>
									The Al-Ilm Islamic Foundation envisions a community where empowered and educated youth contribute positively to society, equipped with practical skills, strong values, and a sense of purpose. The project aims to create a ripple
									effect of positive change by nurturing capable and engaged citizens who will, in turn, uplift their families and communities.
								</p>
								<!-- <img class="mt-2" src="assets/img/signature.svg" alt="signature" width="100" /> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section-lg">
		<div class="container">
			<div class="row mb-5 mb-lg-6">
				<div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
					<h2 class="h1 mb-4">Meet the Team</h2>
					<p class="lead">Welcome to our dedicated team at <strong>A.I.F</strong>, where passionate individuals unite with a shared commitment to making a positive impact and fostering positive change in the lives of those in need.</p>
				</div>
			</div>
			<div class="row mb-5 mb-lg-6">
				<% teamMembers.forEach(function(member) { %>
				<div class="col-12 col-md-6 col-lg-4 mb-5">
					<div class="card shadow border-gray-300">
						<img src="<%= member.img %>" class="card-img-top rounded-top" alt="<%= member.name %>" style="height: 400px; object-fit: cover" />
						<div class="card-body">
							<h3 class="h4 card-title mb-2"><%= member.name %></h3>
							<span class="card-subtitle text-gray fw-normal"><%= member.role %></span>
							<p class="card-text my-3 card-scroll"><%= member.bio %></p>
							<ul class="list-unstyled d-flex mt-3 mb-0">
								<li>
									<a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3"><span class="fab fa-facebook-f"></span></a>
								</li>
								<li>
									<a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3"><span class="fab fa-twitter"></span></a>
								</li>
								<li>
									<a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3"><span class="fab fa-slack-hash"></span></a>
								</li>
								<li>
									<a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3"><span class="fab fa-dribbble"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<% }); %>
			</div>
		</div>
	</section>
</main>
<!-- <section class="section py-0">
            <div class="container z-2">
                <div class="row position-relative justify-content-center align-items-cente">
                    <div class="col-12">
                        <div class="card border-gray-300 px-4 py-1">
                            <div class="card-body text-center text-md-left">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <h2 class="h1 mb-3">Become one of us</h2>
                                        <p class="lead mb-4">Do you want to join our team and work remotely from anywhere you’d like? We can’t wait to hear from you!</p>
                                        <a href="#" class="btn btn-primary">
                                            <span class="me-1"><span class="fas fa-file-invoice"></span> </span>Check Careers
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 mt-5 mt-md-0 text-md-right"><img src="assets/img/illustrations/reading-side.svg" alt="" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
<%- include('partials/footer') %> <%- include('partials/end') %>
