<%- include('partials/head') %>
<%- include('partials/nav') %>
        <main class="bg-primary">
            <div class="preloader bg-dark flex-column justify-content-center align-items-center">
                <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 64 78.4">
                    <path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="40" y="17.6" width="0" height="25.6" />
                    <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="23" y="35.2" width="0" height="25.6" />
                    <path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="52.8" width="0" height="25.6" />
                    <path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z" />
                    <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="57.8" y="17.6" width="0" height="11.2" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="35.2" width="0" height="11.2" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="40.2" y="49.6" width="0" height="11.2" />
                    <path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z" />
                    <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="28.8" x="31.6" width="0" height="11.2" />
                    <rect fill="none" stroke="#fff" x="14" stroke-width="28.8" y="17.6" width="0" height="11.2" />
                </svg>
            </div>
            <section class="section-header bg-gray-200 pb-4 pb-sm-5 pb-lg-6">
                <div class="row pt-0 mx-3 mt-2">
                    <div class="col-md-2">
                        <%- include('partials/admin-sidebar') %>
                    </div>
                    <div class="col-lg-10 col-md-8">
                        <div class="card">
                            <form action="/admin/blogs/update-blog/<%=blog._id%>" method="post">
                                <div class="card-body">
                                    <h3 class="card-title">Create Post</h3>
                                    <div class="row mb-5">
                                        <div class="col-12 col-md-6">
                                          <div class="form-floating mb-3">
                                            <input name="title" type="text" class="form-control" value="<%=blog.title%>" id="floatingInput" placeholder="<%=blog.title%>"> 
                                              <label for="floatingInput">Title</label>
                                          </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-floating">
                                            <div class="mb-3">
                                                <!-- <label for="formFile" class="form-label">Statement</label>  -->
                                                <input name="file" class="form-control" type="file" id="formFile"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-12 col-md-6">
                                          <div class="form-floating mb-3">
                                            <input name="author" type="text" class="form-control" id="floatingInput" value="<%=blog.author%>"> 
                                              <label for="floatingInput">Author</label>
                                          </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-floating mb-3">
                                                <input name="e_readTime" type="number" class="form-control" id="floatingInput" value="<%=blog.e_readTime%>" placeholder="Estimated Read Time"> 
                                                  <label for="floatingInput">Estimate Read Time</label>
                                              </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3"><label for="exampleFormControlTextarea1">Blog Post</label> 
                                            <textarea name="blogPost" class="form-control" placeholder="<%=blog.blogPost%>" id="exampleFormControlTextarea1" rows="8"></textarea>
                                        </div>
                                    </div>

                                    <div class="row text-center my-4">
                                        <button type="submit" class="btn btn-outline-primary text-center">
                                            <span class="icon icon-sm me-3 ">
                                                <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Settings" class="fas fa-save"></span>
                                            </span>
                                            Save</button>
                                    </div>
                                </form>
    
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="form-floating mt-3 mb-3">
                                                <input type="text" disabled class="form-control" id="floatingInput" placeholder="e.g. 500,000"> 
                                                  <label for="floatingInput"><h3><span class="icon icon-sm me-3 ">
                                                    <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Settings" class="fas fa-cog"></span>
                                                </span> Blog Controls</h3></label>
                                              </div>
                                              <div class="row">
                                                <div class="col-12 col-md-6 col-lg-6 mb-2">
                                                    <div class="card shadow">
                                                        <div class="card-body">
                                                            <h3 class="h5 card-title">Blog Stats</h3>
                                                            <ul class="list-group text-gray">
                                                                <li class="list-group-item my-2 m d-flex justify-content-between align-items-center border-0 py-1 px-0 font-small"><a href="#">Views</a> <span class="badge bg-gray badge-pill"><%=blog.views%></span></li>
                                                                <li class="list-group-item my-2 d-flex justify-content-between align-items-center border-0 py-1 px-0 font-small"><a href="#">Comments</a> <span class="badge bg-gray badge-pill"><%=blog.comments.length%></span></li>
                                                                <li class="list-group-item my-2 d-flex justify-content-between align-items-center border-0 py-1 px-0 font-small"><a href="#">Likes</a> <span class="badge bg-gray badge-pill"><%=blog.likes%></span></li>
                                                                <li class="list-group-item my-2 d-flex justify-content-between align-items-center border-0 py-1 px-0 font-small"><a href="#">Dislike</a> <span class="badge bg-gray badge-pill"><%=blog.dislikes%></span></li>
                                                                <li class="list-group-item my-2 d-flex justify-content-between align-items-center border-0 py-1 px-0 font-small"><a href="#">Status</a> 
                                                                    <span class="badge 
                                                                    <%if (blog.isActive) {%>
                                                                        bg-success
                                                                        <%} else {%>
                                                                            bg-danger
                                                                        <% } %> badge-pill">
                                                                        <%if (blog.isActive) {%>
                                                                    <strong>A</strong>
                                                                    <%} else {%>
                                                                        <strong>I</strong>
                                                                    <% } %>
                                                                    </span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                              
                
                                              <div class="col-12 col-md-6 col-lg-6 mb-2">
                                                <div class="card shadow">
                                                    <div class="card-body">
                                                        <h3 class="h5 card-title">Settings</h3>
                                                        <div class="row">
                                                            
                                                            <ul class="list-group list-group-flush">
                                                                 <li class="list-group-item d-flex align-items-center justify-content-between rounded-0 ps-0 py-3 border-bottom">
                                                                     <div>
                                                                         <h3 class="h6 mb-1">Publish Blog</h3>
                                                                       </div>
                                                                       <%if (blog.isActive === true) {%>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input mx-2" data-bs-toggle="modal" checked data-bs-target="#blog-unpublish" type="checkbox" /> 
                                                                            <label class="form-check-label" for="flexSwitchCheckNotifi2">
                                                                             </label>
                                                                        </div>
                                                                        <%} else {%>
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input mx-2" data-bs-toggle="modal" data-bs-target="#blog-publish" type="checkbox" /> 
                                                                                <label class="form-check-label" for="flexSwitchCheckNotifi2">
                                                                                 </label>
                                                                            </div>
                                                                        <% } %>
                                                                       
                                                                    </li>

                                                                    <li class="list-group-item d-flex align-items-center justify-content-between rounded-0 ps-0 py-3 border-bottom">
                                                                        <div>
                                                                            <h3 class="h6 mb-1">Allow Comments</h3>
                                                                          </div>

                                                                          <%if (blog.allowComment === true) {%>
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input mx-2" data-bs-toggle="modal" checked data-bs-target="#disallow-comments" type="checkbox" /> 
                                                                                <label class="form-check-label" for="flexSwitchCheckNotifi2">
                                                                                 </label>
                                                                            </div>
                                                                            <%} else {%>
                                                                                <div class="form-check form-switch">
                                                                                    <input class="form-check-input mx-2" data-bs-toggle="modal" data-bs-target="#allow-comments" type="checkbox" /> 
                                                                                    <label class="form-check-label" for="flexSwitchCheckNotifi2">
                                                                                     </label>
                                                                                </div>
                                                                            <% } %>
                                                                          
                                                                       </li>

                                                                       <li class="list-group-item d-flex align-items-center justify-content-between rounded-0 ps-0 py-3 border-bottom">
                                                                        <div>
                                                                            <h3 class="h6 mb-1">Set Feature</h3>
                                                                          </div>
                                                                          <%if (blog.isFeature === true) {%>
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input mx-2" data-bs-toggle="modal" data-bs-target="#unset-feature" type="checkbox" /> 
                                                                                <label class="form-check-label" for="flexSwitchCheckNotifi2">
                                                                                 </label>
                                                                            </div>
                                                                            <%} else {%>
                                                                                <div class="form-check form-switch">
                                                                                    <input class="form-check-input mx-2" data-bs-toggle="modal" data-bs-target="#set-feature" type="checkbox" /> 
                                                                                    <label class="form-check-label" for="flexSwitchCheckNotifi2">
                                                                                     </label>
                                                                                </div>
                                                                            <% } %>
                                                                          
                                                                       </li>
                                                                       
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="form-floating mt-3 mb-3">
                                                <input type="text" disabled class="form-control" id="floatingInput" placeholder="e.g. 500,000"> 
                                                  <label for="floatingInput"><h3><span class="icon icon-sm me-3 ">
                                                    <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Settings" class="fas fa-comments"></span>
                                                </span> Blog Comments</h3></label>
                                              </div>

                                              <div class="table-responsive">
                                                <table id="dataTableExample2" class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Comment</th>
                                                        
                                                     </tr>
                                                    </thead>
                                                    <tbody>
                                                           <%for (i in comments) {%>
                                                            <tr>
                                                                <td>
                                                                    <%=comments[i].formattedCommentDate%>
                                                                </td>
                                                                <td>
                                                                    <%=comments[i].name%>
                                                                </td>
                                                                <td>
                                                                    <%=comments[i].email%>

                                                                </td>
                                                                <td>
                                                                    <%=comments[i].text%>

                                                                </td>
                                                               
                                                            
                                                            </tr>
                                                           <% } %>
                                                        
                
                                                    
                                                    </tbody>
                                                </table>
                                                </div>
                                                
                                        </div>
                                        
                                            
                                    </div>
                            </div>
                        </div>
                    </div>
                    
            </div>
            </section>
        </main>
        <!-- publish Blog  -->
        <div class="modal fade" id="blog-publish" tabindex="-1" aria-labelledby="blog-publish" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-secondary text-white modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">You're about to Publish this post <button type="button" class="btn-close bg-gray-500" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body">
                        <div class="py-2 px-5 text-center">
                            <span class="modal-icon display-1-md"><span class="fas fa-newspaper"></span></span>
                            <h2 class="h3 modal-title mb-3">Warning!</h2>
                            <p class="mb-3">Completing this action will publish the blog post and will be visible to all.
                                <br><strong>Please confirm? </strong>
                            </p>
                        </div>
                        <div class="text-center">
                         
                            <a type="button" href="/admin/blogs/activation-mode/<%= blog._id%>" class="btn btn-sm btn-outline-gray text-center text-white">Publish Post</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Un-Publish BLog -->
        <div class="modal fade" id="blog-unpublish" tabindex="-1" aria-labelledby="blog-unpublish" style="display: none;" aria-hidden="true">
            <div class="modal-dialog text-white modal-dialog-centered" role="document" >
                <div class="modal-content"style="background-color: rgba(255, 0, 0, 0.525);">
                    <div class="modal-header">You're about to remove blog prom public access <button type="button" class="btn-close bg-gray-500" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body">
                        <div class="py-2 px-5 text-center">
                            <span class="modal-icon display-1-md"><span class="fas fa-ban"></span></span>
                            <h2 class="h3 modal-title mb-3">Warning!</h2>
                            <p class="mb-3">Completing this action will remove blog from public access.
                                <br><strong>Please confirm? </strong>
                            </p>
                        </div>
                        <div class="text-center">
                         
                            <a type="button" href="/admin/blogs/activation-mode/<%= blog._id%>" class="btn btn-sm btn-outline-danger text-center text-white">Restrict Access</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- publish Blog  -->
        <div class="modal fade" id="allow-comments" tabindex="-1" aria-labelledby="allow-comments" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-secondary text-white modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="py-2 px-5 text-center">
                            <span class="modal-icon display-1-sm"><span class="fas fa-comments"></span></span>
                            <h2 class="h3 modal-title mb-3">Warning!</h2>
                            <p class="mb-3">Completing this action will allow comments to be posted.
                                <br><strong>Please confirm? </strong>
                            </p>
                        </div>
                        <div class="text-center">
                         
                            <a type="button" href="/admin/blogs/comment-mode/<%= blog._id%>" class="btn btn-sm btn-outline-gray text-center text-white">Allow Comment</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Un-Publish BLog -->
        <div class="modal fade" id="disallow-comments" tabindex="-1" aria-labelledby="disallow-comments" style="display: none;" aria-hidden="true">
            <div class="modal-dialog text-white modal-dialog-centered" role="document" >
                <div class="modal-content"style="background-color: rgba(255, 0, 0, 0.525);">
                    <div class="modal-body">
                        <div class="py-2 px-5 text-center">
                            <span class="modal-icon display-1-md"><span class="fas fa-ban"></span></span>
                            <h2 class="h3 modal-title mb-3">Warning!</h2>
                            <p class="mb-3">Completing this action will block comments on the post.
                                <br><strong>Please confirm? </strong>
                            </p>
                        </div>
                        <div class="text-center">
                         
                            <a type="button" href="/admin/blogs/comment-mode/<%= blog._id%>" class="btn btn-sm btn-outline-danger text-center text-white">Disallow Comments</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Set feature -->
        <div class="modal fade" id="set-feature" tabindex="-1" aria-labelledby="set-feature" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-secondary text-white modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="py-2 px-5 text-center">
                            <span class="modal-icon display-1-sm"><span class="fas fa-arrow-up"></span></span>
                            <h2 class="h3 modal-title mb-3">Warning!</h2>
                            <p class="mb-3">Completing this action will set the blog as a featured post.
                                <br><strong>Please confirm? </strong>
                            </p>
                        </div>
                        <div class="text-center">
                         
                            <a type="button" href="/admin/blogs/feature-mode/<%= blog._id%>" class="btn btn-sm btn-outline-gray text-center text-white">Set Feature</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Un-set feature -->
        <div class="modal fade" id="unset-feature" tabindex="-1" aria-labelledby="unset-feature" style="display: none;" aria-hidden="true">
            <div class="modal-dialog text-white modal-dialog-centered" role="document" >
                <div class="modal-content"style="background-color: rgba(255, 0, 0, 0.525);">
                    <div class="modal-body">
                        <div class="py-2 px-5 text-center">
                            <span class="modal-icon display-1-md"><span class="fas fa-ban"></span></span>
                            <h2 class="h3 modal-title mb-3">Warning!</h2>
                            <p class="mb-3">Completing this action will not affect the visibility of the post.
                                <br><strong>Please confirm? </strong>
                            </p>
                        </div>
                        <div class="text-center">
                         
                            <a type="button" href="/admin/blogs/feature-mode/<%= blog._id%>" class="btn btn-sm btn-outline-danger text-center text-white">Unset Feature</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
        <%- include('partials/end') %>