<%- include('partials/head') %>
<%- include('partials/nav') %>
        <main class="bg-primary">
            <div class="preloader bg-dark flex-column justify-content-center align-items-center">
                <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 64 78.4">
                    <path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="40" y="17.6" width="0" height="25.6" />
                    <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="23" y="35.2" width="0" height="25.6" />
                    <path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="52.8" width="0" height="25.6" />
                    <path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z" />
                    <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="57.8" y="17.6" width="0" height="11.2" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="35.2" width="0" height="11.2" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="40.2" y="49.6" width="0" height="11.2" />
                    <path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z" />
                    <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="28.8" x="31.6" width="0" height="11.2" />
                    <rect fill="none" stroke="#fff" x="14" stroke-width="28.8" y="17.6" width="0" height="11.2" />
                </svg>
            </div>
            <section class="section-header bg-gray-200 pb-4 pb-sm-5 pb-lg-6">
                <div class="row pt-0 mx-3 mt-2">
                    <div class="col-md-2">
                        <%- include('partials/admin-sidebar') %>
                    </div>
                    <div class="col-lg-10 col-md-10">
                        <div class="card" style="min-height: 100%;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10 col-lg-8">
                                        <div class="nav-wrapper position-relative">
                                            <ul class="nav nav-pills nav-pill-circle mb-3" id="tab-34" role="tablist">
                                                <li class="nav-item me-3 me-md-0">
                                                    <a class="nav-link text-sm-center" aria-label="first navigation tab" id="tab-link-example-13" data-bs-toggle="tab" href="#link-example-13" role="tab" aria-controls="link-example-13" aria-selected="false">
                                                        <span class="nav-link-icon d-block"><span class="far fa-user"></span></span>
                                                    </a>
                                                </li>
                                                <li class="nav-item me-3 me-md-0">
                                                    <a class="nav-link text-sm-center" aria-label="second navigation tab" id="tab-link-example-14" data-bs-toggle="tab" href="#link-example-14" role="tab" aria-controls="link-example-14" aria-selected="false">
                                                        <span class="nav-link-icon d-block"><span class="far fa-sun"></span></span>
                                                    </a>
                                                </li>
                                                <li class="nav-item me-3 me-md-0">
                                                    <a class="nav-link text-sm-center active" aria-label="third navigation tab" id="tab-link-example-15" data-bs-toggle="tab" href="#link-example-15" role="tab" aria-controls="link-example-15" aria-selected="true">
                                                        <span class="nav-link-icon d-block"><span class="fas fa-envelope-open-text"></span></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card border-0">
                                            <div class="card-body p-0">
                                                <div class="tab-content" id="tabcontentexample-5">
                                                    <div class="tab-pane fade" id="link-example-13" role="tabpanel" aria-labelledby="tab-link-example-13">
                                                        <div class="row mb-5">
                                                            <div class="col-12 col-md-6">
                                                              <div class="form-floating mb-3">
                                                                <input name="name" type="text" class="form-control" id="floatingInput" placeholder="e.g. Food Drive"> 
                                                                  <label for="floatingInput">Title</label>
                                                              </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-floating">
                                                                <div class="mb-3">
                                                                    <!-- <label for="formFile" class="form-label">Statement</label>  -->
                                                                    <input name="text" class="form-control" type="file" id="formFile"></div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="link-example-14" role="tabpanel" aria-labelledby="tab-link-example-14">
                                                        <p>
                                                            Photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod
                                                            Pinterest in do umami readymade swag.
                                                        </p>
                                                        <p>Day handsome addition horrible sensible goodness two contempt. Evening for married his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>
                                                    </div>
                                                    <div class="tab-pane fade active show" id="link-example-15" role="tabpanel" aria-labelledby="tab-link-example-15">
                                                        <p>
                                                            Booth exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam
                                                            delectus, Marfa eiusmod Pinterest in do umami readymade swag.
                                                        </p>
                                                        <p>Day handsome addition horrible sensible goodness two contempt. Evening for married his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                   
      
            </section>
        </main>
        <%- include('partials/footer') %>
        <%- include('partials/end') %>